:root {
  --main-bg-color: FireBrick;
  --main-text-color: GhostWhite;
}

div {
  box-sizing: border-box;
}

#header {
  margin-top: 1em;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

h1,h2,h3{
  font-weight: normal;
}

h1 {
  font-size: 2em;
  margin: 0.3em 0;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.1em;
}

h3 {
  font-size: 1em;
  margin: 0.5em 0;
}

button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: none;
  font-size: 1em;
  margin: 0 0.3em;
}

button:hover {
  cursor: pointer;
  color: gold;
}

#clock-setup {
  font-size: 1.25em;
}

#clock-display {
  border: 5px solid white;
  border-radius: 30px;
  margin-top: 1em;
  padding: 1em;
}


#time-left {
  font-size: 4em;
  margin: 0 0.5em;
}

#clock-controls {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  font-size: 1.5em;
}

#designed-by {
  margin-top: 2em;
}
